/* Formatação geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/* Corpo do site */
body {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

/* Cabeçalhos */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: rgb(232, 248, 11);
}

/* Conteúdo principal */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

/* Rodapé do site*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(232, 248, 11);
}

/* Títulos */
h1 {
    font-size: 2.5rem;
    color: #000000;
}

h3 {
    font-size: 1.8rem;
    color: #1f1f1f;
}

/* Parágrafos do site */
p {
    text-align: center;
    font-size: 1.2rem;
    margin: 2%;
    width: 50vw;
}

/* Links do site */
a {
    font-size: 1.4rem;
    text-decoration: none;
    color: red;
}

/* Entradas do site */
input {
    font-size: 1.2rem;
    margin: 5%;
}

/* Exibição das funções no index.html */
#container-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

#container-cards > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
    padding: 1.5%;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.4);
    border-radius: 0.6rem;
}

/* Formatação para textos de aviso */
#aviso {
    color: red;
}

/* Container de cada funcionalidade */
.funcionalidade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.4);
    border-radius: 0.6rem;
    margin-top: 2%;
    margin-bottom: 13%;
}

/* Botão de voltar ao index.html */
.btn-voltar {
    position: fixed;
    right: 1.5%;
    bottom: 1.5%;
}